<h3>New Posting</h3>
<hr>
<div class ="row">
	<div class="span6 offset0">
		<form class='form-horizontal'>
		<%= form_for(@posting) do |f| %>
		
			<%= f.label :name %>
			<%= f.text_field :name %>
			<%= f.label :blogpost %>
			<%= f.text_area :blogpost, class:"form-control textarea", rows:"5" %>
			<br>
			<%= f.submit "Create a post", class:"btn btn-primary"%>
		<% end %>
		</form>
	</div>
</div>
